# Syntax: https://git-scm.com/docs/gitignore

# General
.DS_Store
*~
.vscode

# Lokale Umgebungsvariablen absichern
.env.local

# Lokale Geheimnisse und Umgebungsvariablen
.env
.env.*

# Kontrolldatei
repomix-output.xml

